<%-include("header")-%>
<h1>Contact me</h1>
<p>We love hearing from our readers at Daily Journal! If you have any questions, comments, or suggestions about our news coverage, please don't hesitate to get in touch. Here's how you can reach us:</p>
<ul>
    <li> Email: You can send us an email at dailyjournal@example.com. We do our best to respond to all emails within 24 hours.</li>
    <li> Media: You can also connect with us on social media. Follow us on Twitter, Facebook, and Instagram to stay up-to-date on our latest news stories and to send us a message.</li>
    <li>Phone: If you prefer to speak with us by phone, you can call our newsroom at [insert phone number here]. Our team is available to take your call during regular business hours.</li>
    <li>Mailing Address: If you need to send us something by mail, you can use the following address:</li>
</ul>
    <p>23 Main Street<br>
    Suite 456<br>
    Anytown, USA 12345</p>
    
    We appreciate your feedback and look forward to hearing from you soon!



<%-include("footer")-%>